@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --ada-symbol-color: orange;
    --ada-string-color: green;
    --ada-keyword-color: blue;
    --ada-digit-color: cyan;
    --ada-error-color: red;
    --ada-error-style: italic;
  }
}

.ada-symbol {
  color: var(--ada-symbol-color);
}

.ada-string {
  color: var(--ada-string-color);
}

.ada-keyword {
  color: var(--ada-keyword-color);
}

.ada-digit {
  color: var(--ada-digit-color);
}

.ada-error {
  color: var(--ada-error-color);
  font-style: var(--ada-error-style)
}
